body {
	background: #D4FFE9;}

h1 {
	text-align: center;
	color: #B8860B;
	font-size: 60px;
}

p { 
	text-align: center;
}

#banner {
	width: 100%;
}

#capa {
	height: 5%;
	width: 98%;
	padding: 10px;
	margin-left: 1px;
	border: outset;